.sidebar{
  position: absolute;
  overflow: auto;
  padding: 0px;
  width: 150px; 
  background: #e4f8d2; 
  border-right: 1px solid #231F20;
    top: 0px; 
    bottom: 0;
    left: 0;
}

.content{
  position: absolute;
  overflow: auto;
  background: #e7dda3; 
  top: 0px; 
  left: 150px;  
  bottom: 0;
  right: 0;
  padding-left: 10px;
}

.properties{
  position: absolute;
  overflow: auto;
}

.outcomes{
  position: absolute;
  overflow: auto;
  background: #acacac;
  top: 0px; 
  left: 300px;  
  bottom: 0;
  right: 0;
}

ul{
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
  text-decoration-color: black;
}

.increase, .decrease, .increase1, .decrease1{
  margin-left: 10px;
}

.inp, .inp1{
  width: 100px
  
}

textarea{
  resize: none;
  position: relative;
  width: 50px;
  height: 20px;
  margin-bottom: -12px;
}

li{
  height: 30px;
  background: #c5c5c5;
  width: 130px;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-top: 8px;
}
 li:hover{
  background: #acacac;
 }